<div class="page-section portfolio" id="portfolio">
    <div class="container">
        
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Conhecimentos</h2>           
        
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
        </div>
        <div class="container d-flex align-items-center flex-column mb-5">
            <h1 class="masthead-subheading mb-0">Aqui temos um resumo dos meus conhecimentos tecnológicos</h1>
        </div>

        <div class="container" *ngIf="stacks | async; else loading">
            <app-stack-panel
              *ngFor="let stack of stacks | async; index as i" 
              [stack]="stack">
            </app-stack-panel>
        </div>

        <ng-template class="row" #loading>
          <mat-spinner class="mr-auto ml-auto"></mat-spinner>
        </ng-template>
</div>