<div class="page-section portfolio" id="portfolio">
    <div class="container">
        
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Conhecimentos</h2>           
        
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
        </div>
        <div class="container d-flex align-items-center flex-column mb-5">
            <h1 class="masthead-subheading mb-0">Aqui temos um resumo dos meus conhecimentos tecnológicos</h1>
        </div>

        <div class="row ml-4" *ngIf="knowledges">
            <mat-card
            *ngFor="let value of knowledges | async; index as i"
            class="col-md-4 col-lg-5 mb-5 ml-5">
                <mat-card-header>
                  <mat-card-title class="masthead-subheading m-2">{{ value.title }}</mat-card-title>
                </mat-card-header>
                <img mat-card-image [src]="getBase64AsImage(value.fileData)" [alt]="getAltDescription(value.title)">
                <mat-card-content class="text-center mt-3">
                  <button class="btn btn-light font-weight-bold" [value]="i">
                      Ver mais
                      <i class="fas fa-search"></i>
                  </button>
                </mat-card-content>
              </mat-card>
        </div>
</div>