<div class="page-section mb-0" id="about">
    <div class="container text-justify">
        
        <h2 class="page-section-heading text-center text-uppercase">Sobre o Lucas</h2>
        
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
        </div>
        
        <div class="row lead mb-3 mx-auto">
            <div class="col">
                <p class="mb-3">
                    Engenheiro de software profissionalmente a quase 3 anos, porém envolvido com programação a pelo menos {{ getProfessionalTime() }} anos, finalizando uma formação em Informática para Negócios pela FATEC - Mauá.
                </p>
                <p class="mb-3">
                    Na trajetória profissional colaborou em projetos das mais diversas áreas como: financeiro, investimentos, inspeção e certificação, encarregando-se do processo completo desde o entendimento da necessidade do cliente, negociação das necessidades a serem desenvolvidas e na construção do projeto.
                </p>
            </div>
        </div>

        <div class="col m-auto lead">
            <p>
                Hoje sou engenheiro de software e participo na construção e manutenção de serviços web completos, utilizando diversas tecnologias como você poderá ver na área de conhecimentos, presto consultoria pela <a href="https://www.iteris.com.br/" target="_blank">Iteris</a>.
            </p>
        </div>
        
        <div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-secondary" href="assets/files/curriculoPdf.pdf" target="_blank">
                <i class="fas fa-download mr-2"></i>
                Currículo
            </a>
        </div>
    </div>
</div>