<div class="page-section mb-0" id="about">
    <div class="container">
        
        <h2 class="page-section-heading text-center text-uppercase">Sobre o Lucas</h2>
        
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
        </div>
        
        <div class="row">
            <div class="col-lg-4 ml-auto text-justify">
                <p class="lead">
                    Uma pessoa que tem a motivação e a felicidade de trazer a solução de necessidades por meio do desenvolvimento de sistemas.          
                </p>
                <p class="lead">
                    Não é lá um leitor assíduo de livros, mas sempre tenta adquirir mais e mais conhecimento sobre desenvolvimento, seja por cursos onlines, vídeos ou leitura de artigos e livros, e claro que sempre que tem um tempo livre colocar em prática tudo isso.                  
                </p>
            </div>
            <div class="col-lg-4 mr-auto text-justify">
                <p class="lead">
                    Está a mais de 4 anos nesse meio, quando pegou o gosto por ser um autodidata e iniciou sua primera graduação na área de T.I.
                </p>
                <p class="lead">
                    Nesse período conseguiu sua primeira experiência como estagiário de T.I numa startup, atuando com desenvolvimento C#, principalmente em cima de .NET Core, além de cuidar do backlog da equipe em cima de metodologia ágil (Kanban).                
                </p>
            </div>
        </div>

        <div class="col-lg-8 m-auto text-justify">
            <p class="lead">
                Atualmente esta atuando como desenvolvedor de sistemas em cima de diversas tecnologias principalmente .NET e Angular pela <a href="https://www.iteris.com.br/" target="_blank">Iteris</a>
            </p>
        </div>
        
        <div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-secondary" href="assets/files/curriculoPdf.pdf" target="_blank">
                <i class="fas fa-download mr-2"></i>
                Baixe o currículo
            </a>
        </div>
    </div>
</div>