<div class="page-section mb-0" id="about">
    <div class="container text-justify">
        
        <h2 class="page-section-heading text-center text-uppercase">Sobre o Lucas</h2>
        
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
        </div>
        
        <div class="row lead mb-3 mx-auto">
            <div class="col">
                <p class="mb-3">
                    Uma pessoa que tem a motivação e a felicidade de trazer a solução de necessidades por meio do desenvolvimento de sistemas até porque minha visão é que a tecnologia é um meio para facilitar a vida de pessoas e empresas.
                </p>
                <p>
                    Não é lá um leitor assíduo de livros, mas sempre tenta adquirir mais e mais conhecimento sobre desenvolvimento, seja por cursos onlines, vídeos ou leitura de artigos e livros, e claro que sempre que tem um tempo livre procura colocar em prática tudo isso.                  
                </p>
            </div>
            <div class="col">
                <p class="mb-3">
                    Está a mais de {{ getProfessionalTime() }} anos nesse meio, quando pegou o gosto por ser um autodidata e iniciou sua primera graduação na área de T.I.
                </p>
                <p>
                    Nesse período conseguiu sua primeira experiência como estagiário em engenharia de software numa startup, atuando com desenvolvimento de sistemas web, principalmente em cima de .NET Core porém utilizando diversas outras ferramentas, além de cuidar do backlog da equipe em cima de metodologia ágil (Kanban).                
                </p>
            </div>
        </div>

        <div class="col m-auto lead">
            <p>
                Atualmente estou atuando como um engenheiro de software e utilizando diversas tecnologias como você poderá ver na área de conhecimentos, presto consultoria pela <a href="https://www.iteris.com.br/" target="_blank">Iteris</a> e já atuei em diversos clientes de grande porte das mais diversas áreas (financeiras, corretoras, empresas de inspeções e etc...).
            </p>
        </div>
        
        <div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-secondary" href="assets/files/curriculoPdf.pdf" target="_blank">
                <i class="fas fa-download mr-2"></i>
                Currículo
            </a>
        </div>
    </div>
</div>