<div class="footer text-center">
    <div class="container">
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Localização</h4>
                <p class="lead mb-0">
                    Mauá, São Paulo - Brasil
                </p>
            </div>
            <!-- Footer Social Icons-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Minhas redes sociais</h4>
                <a class="btn btn-outline-light btn-social mx-1" href="https://api.whatsapp.com/send?phone=5511983773017&text=Olá%20,%20tudo%20bem?%20Te%20encontrei%20no%20seu%20currículo%20online" target="_blank"><i class="fab fa-fw fa-whatsapp"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/lucas-vieira-vicente-885726127/" target="_blank"><i class="fab fa-fw fa-linkedin-in"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://github.com/lucasvieiravicente" target="_blank"><i class="fab fa-fw fa-github"></i></a>
            </div>
            <!-- Footer About Text-->
            <div class="col-lg-4">
                <h4 class="text-uppercase mb-4">Sobre este resumo</h4>
                <p class="lead mb-0">
                    Página criada em Angular 11 consumindo duas APIs .NET Core 3.1.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="copyright py-4 text-center text-white">
    <div class="container">
        <small>
            Copyright © Lucas Vieira Vicente - {{ year }}
        </small>
    </div>
</div>