<mat-accordion class="page-section m-1" id="portfolio">

  <div class="container" (click)="getKnowledges()">
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">

      <mat-expansion-panel-header>
        <mat-panel-title class="masthead-subheading d-flex justify-content-center">
          <span class="font-weight-bold lead">{{ getStackName() }}</span>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <app-knowledge-card></app-knowledge-card>
    </mat-expansion-panel>
  </div>

</mat-accordion>