<mat-accordion class="page-section portfolio m-1" id="portfolio">

  <div class="container col-lg-7">
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title class="masthead-subheading d-flex justify-content-center">
          <span class="font-weight-bold lead">Stack número 1</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Aqui tera as caixas de conhecimentos que sera um component</p>
    </mat-expansion-panel>
  </div>

</mat-accordion>