<div class="page-section mb-0" id="repository">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase">Veja esta aplicação no Github</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Button-->
        <div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-secondary mt-2" href="https://github.com/lucasvieiravicente/lucasvieiravicente.github.io" target="_blank">
                <i class="fab fa-fw fa-github mr-2"></i>
                Repositório desta página
            </a>

            <a class="btn btn-xl btn-outline-secondary mt-2 ml-2" href="https://github.com/lucasvieiravicente" target="_blank">
                <i class="fab fa-fw fa-github mr-2"></i>
                Repositório do Lucas
            </a>
        </div>                
    </div>
</div>